[submodule "docker-library"]
	path = docker-library
	url = https://github.com/ev3dev/docker-library.git
[submodule "docker-cross"]
	path = docker-cross
	url = https://github.com/ev3dev/docker-cross.git
[submodule "docker-base"]
	path = docker-base
	url = https://github.com/ev3dev/docker-base.git
